name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Haskell (GHC + Cabal)
        uses: haskell-actions/setup@v2
        with:
          ghc-version: "9.14.1"
          cabal-version: "3.16.1.0"

      - name: Cache Cabal
        uses: actions/cache@v4
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal', '**/cabal.project*') }}
          restore-keys: |
            ${{ runner.os }}-cabal-

      - name: Build
        run: cabal build

      - name: Test
        run: cabal test